.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.calenar-day-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: dimgrey;
    border: 1px solid
}
