@page "/calendar";

<h3>Calendar</h3>

<div class="calendar-header">
    <button @onclick="PrevMonth">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span>@Month</span>
    <button @onclick="NextMonth">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>

<div>
    <span>@Year</span>
</div>

<div class="calendar">
    @for (int i = 1; i <= Days; i++)
    {
        <div class="calenar-day-box" data-mdb-toggle="modal" data-mdb-target="#exampleModal">@i</div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>